body{
    background-color: paleturquoise;
}
h1,p{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
img{
   width: 400px;
   border-radius: 100%;
}
.gh{
   display: block;
}